*{
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
}
.container_main{
    width: auto;
}
.nav{
    display:inline-block;  
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color:white;
}
.logo{

    display: inline-block;
    width: 34px;
    height: 49px;
    fill:#19cbfc;
    margin-top: 20px;
    margin-left: 50px;
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    backface-visibility: visible;
    transform: translateZ(0);
    text-decoration: none;
}
.logo:hover{
    -ms-transform: scale(1.05);
    transform: scale(1.25)
}



.nav_text{
    display:inline-block;
    width: 90%;
    height: 50%;
    display: inline-block;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2%;
    margin-left: 2%;
}
.other{
    display:inline-block;
    text-decoration: none;
    background-color: transparent;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 800;
    color: #3d4152;
}
.other:hover{
    color: #19cbfc;
}

.location{
    
    padding-left: 10px;
    text-decoration: none;
    background-color: transparent;
}
.location_text{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    padding-left: 10px;
    color: black;
}
.down_arrow{
    position: absolute;
    width: 12px;
    height: 13px;
    color: black;
    margin-right: 200px;
    margin-top: 7px;
}
.down_arrow:hover{
    fill: #19cbfc;
}
.Search{
    display:inline-block;
    text-decoration: none;
    background-color: transparent;
    padding-left: 20px;
    color: black;
}
.Search_logo:hover{
    fill:#19cbfc
}
.Search_text{
    text-decoration: none;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    background-color: transparent;
    text-decoration-style: none;
}
.Search_text:hover{
    color: #19cbfc;
}



.section-1{
    width: 100%;
    height: 340px;
    background-color: #171a29;
    margin-top: 80px;
    padding-left: 1px;
    padding-top: 40px;
}
.block01{
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    backface-visibility: visible;
    transform: translateZ(0);
    display: inline-block;
    width:250px;
    height:250px;
    margin-left: 50px;
}
.block01:hover{
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}


.section-3{
    width: 100%;
    height: 1000;
    padding-left: 10px;
}
.res_num{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.2;
}
.blocks{
    display: inline-block;
    width: 295px;
    height: 350px;
    border: 1px solid white;
    padding-left: 25px;
    margin:2px 5px 30px 5px;
}
.blocks:hover{
    display: inline-block;
    border: 0.25px solid #3d4152;
    box-shadow: 0.3px 0.3px 3px #3d4152 ;
}

.block_img{
    width: 254px;
    height: 160px;
    padding-top:18px ;
}
.block_title{
    font-size: 17px;
    font-weight: 500;
    word-break: break-all;
    color: black;
    text-align: left;
}
.block_sub_title{
    color: #686b78;
    font-size: 13px;
    font-weight: 500;
    word-break:10px;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.rating{
    width: 40px;
    height: 20px;
    background-color:#48c479;
    color: white;
    padding-left: 5px;
    font-size:13px;
    font-weight: 600;
    display: inline-block;
}
.delivery_time{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}
.per_head{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-left: 0px;
}
.quickview{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    color: black;
    margin-left: 60px;
    text-decoration: none;
}
.addButton{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: black;
    margin-left: 50px;
    width: 100px;
    height: 30px;
    border: #171a29 1px solid;
    padding-left: 5px;
    padding-top: 1px;
}
.addButton:hover{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: white;
    background-color:196cfc;
    margin-left: 50px;
    width: 100px;
    height: 30px;
    border: #171a29 1px solid;
    padding-left: 5px;
    padding-top: 1px;
}
.minusButton{
    position: absolute;
    margin-top: 58px;
    margin-left: -20px;
    background-color: #19cbfc;
    color: white;
    width: 20px;
    display: none;
}


.profile_name{
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 20px;
}
.profile_email{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}
.profile_phone{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}
.profile{
    width: 350px;
    height: 250px;
    background-color: lightgrey;
    position: absolute;
    top: 25%;
    left: 35%;
}
.Pay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* set the height of the container */   
    color: white;
}
.ReadyToPay{
    background-color: red;
    color: white;
    height: 50px;
    width:200px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 20px;
}
.item{
    display: flex;
    justify-content: center;
    top: 20%;
    width:80%;
    margin-left: 53px;
    /* border: #171a29 1px solid; */
    list-style: none
}
.item-cart{
    width:100%;
    height: 60px;
    background-color: white;
    color: black;
    margin-left: 55px;
    border: #171a29 1px solid;
    border-radius: 20px;
}
.item-price{
    display: inline-block;
    font-size: 25px;
    text-align: right;
    font-weight: 600;
    padding-right: 10px;
    width: 40%;
}
.item-name{
    display: inline-block;
        font-size: 20px;
        text-align: left;
        font-weight: 400;
        padding-left: 30px;
        width: 40%;
        padding-top: 15px;
}
.totalPrice{
    display: flex;
    justify-content: center;
    top: 20%;
    width:80%;
    margin-left: 53px;
    /* border: #171a29 1px solid; */
    list-style: none
}
.totalPrice-cart{
    width:100%;
    height: 60px;
    background-color: black;
    color: white;
    margin-left: 55px;
    border: #171a29 1px solid;
    border-radius: 20px;
    margin-top: 20px;

}
.addItemButton{
    width: 20px; height:25px;
    background-color: #171a29;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.quantity{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 2px;
}
.clearcart{
    background: white;
    border-radius: 14px;
    width: 15%;
    height: 33px;
    margin-right: 600px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    display: list-item;
}
.clearcart:hover{
    background-color: #19cbfc;
    color: white;
}
.endAmount{
    display: inline-block;
    font-size: 27px;
    text-align: right;
    font-weight: 600;
    padding-right: 10px;
    margin-left: 86%;
    margin-top: -33px;
    width: 10%;
}